.gmk {
                font-family: arial;
                font-style: italic;
                direction: rtl;
            }

            a {
                color: #666;
                text-decoration: none;
            }

            #menu {
                list-style: none;
                width: 160px;
                padding-left: 10px;
                display: inline;
            }

                #menu li {
                    margin: 0;
                    padding: 5px;
                    cursor: pointer;
                    display: inline;
                }

            button {
                margin: 0;
                padding: 6px;
                outline-style: none;
            }



            .button-dropdown {
                position: relative;
                display: block;
                padding-bottom: 15px;
            }

            div.btn-group {
                display: inline;
            }

            .btn-group button {
                display: block;
            }

            button:hover {
                width: 300px;
            }

            .btn-group button {
                background-color: #ccc; /* Green background */
                /*/*border: 1px solid green; /* Green border */
                color: white; /* White text */
                /*padding: 10px 24px; /* Some padding */
                /*cursor: pointer;*/ /* Pointer/hand icon */
                width: 100%; /**/
                */ /* Set a width if needed */ *; /*/
        display: block; /* Make the buttons appear below each other */
            }

            up button:not(:last-child) {
                border-bottom: none; /* Prevent double borders */
            }

            /* Add a background color on hover */
            .btn-group button:hover {
                background-color: #3e8e41;
            }

            .btn-group button:hover {
                width: 300px;
            }
